<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-buttons side="left">
                <button class="button icon ion-funnel button-clear pull-left" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-back-button nav-direction="enter">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button icon ion-ios-star button-clear" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-in-up"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="side-menu" width="{{ maxwidth(46) }}" slide-along offset="-40">
        <ion-header-bar class="bar-dark">
            <h6 style="float:left; margin: 2px 4px; color: #fff;">{{(events | filter: query | rangeFilter : dateRange ).length }} events match for your criteria. <br>
            ( <span ng-show="dateRange.dateMin">from: <a menu-toggle="left"><strong>{{dateRange.dateMin | date : 'MMMM d yyyy'}}</strong></a></span><span ng-show="dateRange.dateMax"> | to: <strong>{{dateRange.dateMax | date : 'MMMM d yyyy'}}</strong></span><span ng-show="query"> | containing: <strong>{{query}}</strong></span> )
            </h6>
            <button class="button back-button buttons button-clear header-item pull-right" ng-click="toggleLeft();" style="">
                <span class="default-title">View</span>
                <i class="icon ion-ios-arrow-forward"></i>
            </button>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <li class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" ng-model="$parent.$parent.query" placeholder="Search">
                    </label>
                </li>
                <li class="item">
                <label class="item item-input">
                  <span class="input-label">Start Date</span>
                  <input type="date" id="date" ng-model="$parent.$parent.dateRange.dateMin">
                </label>
                </li>
                <li class="item">
                <label class="item item-input">
                  <span class="input-label">End Date</span>
                  <input type="date" id="date" ng-model="$parent.$parent.dateRange.dateMax">
                </label>
                </li>
                <li class="item">
                    <a href="#/app/check-in" class="item" menu-toggle="left">Check-in</a>
                </li>
                <li class="item">
                    <a href="#/app/attendees" class="item" menu-toggle="left">Search</a>
                </li>
            </ul>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right" class="side-menu" width="{{ maxwidth(46) }}" slide-along offset="-40">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Favorites</h1>
        </ion-header-bar>
        <ion-content >
            <ul class="list">
                <!-- Note each link has NO 'menu-close' attribute BECAUSE HISTORY so the menu auto closes when clicking on one of these -->
                <li class="item">
                    <a href="#/app/check-in" class="item" menu-toggle="right">Check-in</a>
                </li>
                <li class="item">
                    <a href="#/app/attendees" class="item" menu-toggle="right">Attendees</a>
                </li>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>